
#features{
    min-height: 75%;
    /* height: auto; */
    /* margin: 0 auto -100px; */
    /*padding-bottom: 100px;*/
}


body {
background: white;color: rgb(0, 0, 0);font-family: 'Open Sans', Helvetica, Arial, sans-serif;font-size: 13px;
margin: 0px;
padding: 0px;}

#LOAD a {
transition: all 0.17s ease-in-out;
}
#LOAD a:not("[data-toggle]"):link ,#LOAD a:not("[data-toggle]"):visited {
color: #f34246;
text-decoration: underline;
outline: none;
}
#LOAD a:not("[data-toggle]"):hover {
color: #FE7C6D;
text-decoration: none;
outline: none;
}
#LOAD a img {
border-width: 0;
}

#LOAD h1,#LOAD h2,#LOAD h3,#LOAD h4,#LOAD h5,#LOAD h6 {
    margin-bottom: 16px;
    font-weight: normal;
    line-height: 1;
}

#LOAD h1 {
    font-size: 40px;
}

#LOAD h2 {
    font-size: 26px;
    /* margin-bottom: -15px; */
}

#LOAD h3 {
    font-size: 20px;
}

#LOAD h4 {
    font-size: 20px;
    margin-top: 30px;
    color:#333333;
}

#LOAD h5 {
    font-size: 16px;
    margin-top: 35px;
    color:#833;
    text-decoration: underline;
}

#LOAD h6 {
    font-size: 14px;
    color:#212121;
}

#LOAD h1 img,#LOAD h2 img,#LOAD h3 img,#LOAD h4 img,#LOAD h5 img,#LOAD h6 img {
    margin: 0;
}

#LOAD table {
    margin-bottom: 20px;
    width: 100%;
}

#LOAD th {
    font-weight: bold;
}

#LOAD thead th {
    background: #c3d9ff;
}

#LOAD th,#LOAD td,#LOAD caption {
    padding: 4px 10px 4px 5px;
}

#LOAD tr.even td {
    background: #e5ecf9;
}

#LOAD tfoot {
    font-style: italic;
}

caption {
    background: #eee;
}

#LOAD li ul,#LOAD li ol {
    margin: 0;
}

#LOAD ul,#LOAD ol {
    margin: 0 20px 20px 0;
    padding-left: 40px;
}

#LOAD ul {
    list-style-type: disc;
}

#LOAD ol {
    list-style-type: decimal;
}

dl {
    margin: 0 0 20px 0;
}

dl dt {
    font-weight: bold;
}

dd {
    margin-left: 20px;
}

pre {
    margin: 20px 0;
    white-space: pre;
}

pre,code,tt {
    font: 13px "andale mono","lucida console",monospace;
    line-height: 18px;
}
code {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    color: #444;
    padding: 1px;
}

console {
    display:inline-block;
    margin:0px auto;
    border: 1px solid #ccc;
    padding: 4px;
    color: white;
    background-color: black;
    font-family: monospace;
    font-size: medium;
    margin: 15px;
}

div.span-1,div.span-2,div.span-3,div.span-4,div.span-5,div.span-6,div.span-7,div.span-8,div.span-9,div.span-10,div.span-11,div.span-12,div.span-13,div.span-14,div.span-15,div.span-16,div.span-17,div.span-18,div.span-19,div.span-20,div.span-21,div.span-22,div.span-23,div.span-24 {
    float: left;
    margin-right: 10px;
}

.span-1 {
    width: 30px;
}

.span-2 {
    width: 70px;
}

.span-3 {
    width: 110px;
}

.span-4 {
    width: 150px;
}

.span-5 {
    width: 190px;
}

.span-6 {
    width: 230px;
}

.span-7 {
    width: 270px;
}

.span-8 {
    width: 310px;
}

.span-9 {
    width: 350px;
}

.span-10 {
    width: 390px;
}

.span-11 {
    width: 430px;
}

.span-12 {
    width: 470px;
}

.span-13 {
    width: 510px;
}

.span-14 {
    width: 550px;
}

.span-15 {
    width: 590px;
}

.span-16 {
    width: 630px;
}

.span-17 {
    width: 670px;
}

.span-18 {
    width: 710px;
}

.span-19 {
    width: 750px;
}

.span-20 {
    width: 790px;
}

.span-21 {
    width: 830px;
}

.span-22 {
    width: 870px;
}

.span-23 {
    width: 910px;
}

.span-24,div.span-24 {
    width: 960px;
    margin: 0;
}

input.span-1,textarea.span-1,input.span-2,textarea.span-2,input.span-3,textarea.span-3,input.span-4,textarea.span-4,input.span-5,textarea.span-5,input.span-6,textarea.span-6,input.span-7,textarea.span-7,input.span-8,textarea.span-8,input.span-9,textarea.span-9,input.span-10,textarea.span-10,input.span-11,textarea.span-11,input.span-12,textarea.span-12,input.span-13,textarea.span-13,input.span-14,textarea.span-14,input.span-15,textarea.span-15,input.span-16,textarea.span-16,input.span-17,textarea.span-17,input.span-18,textarea.span-18,input.span-19,textarea.span-19,input.span-20,textarea.span-20,input.span-21,textarea.span-21,input.span-22,textarea.span-22,input.span-23,textarea.span-23,input.span-24,textarea.span-24 {
    border-left-width: 1px!important;
    border-right-width: 1px!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

input.span-1,textarea.span-1 {
    width: 18px!important;
}

input.span-2,textarea.span-2 {
    width: 58px!important;
}

input.span-3,textarea.span-3 {
    width: 98px!important;
}

input.span-4,textarea.span-4 {
    width: 138px!important;
}

input.span-5,textarea.span-5 {
    width: 178px!important;
}

input.span-6,textarea.span-6 {
    width: 218px!important;
}

input.span-7,textarea.span-7 {
    width: 258px!important;
}

input.span-8,textarea.span-8 {
    width: 298px!important;
}

input.span-9,textarea.span-9 {
    width: 338px!important;
}

input.span-10,textarea.span-10 {
    width: 378px!important;
}

input.span-11,textarea.span-11 {
    width: 418px!important;
}

input.span-12,textarea.span-12 {
    width: 458px!important;
}

input.span-13,textarea.span-13 {
    width: 498px!important;
}

input.span-14,textarea.span-14 {
    width: 538px!important;
}

input.span-15,textarea.span-15 {
    width: 578px!important;
}

input.span-16,textarea.span-16 {
    width: 618px!important;
}

input.span-17,textarea.span-17 {
    width: 658px!important;
}

input.span-18,textarea.span-18 {
    width: 698px!important;
}

input.span-19,textarea.span-19 {
    width: 738px!important;
}

input.span-20,textarea.span-20 {
    width: 778px!important;
}

input.span-21,textarea.span-21 {
    width: 818px!important;
}

input.span-22,textarea.span-22 {
    width: 858px!important;
}

input.span-23,textarea.span-23 {
    width: 898px!important;
}

input.span-24,textarea.span-24 {
    width: 938px!important;
}

.last {
    margin-right: 0;
    padding-right: 0;
}

.last,div.last {
    margin-right: 0;
}

body #LOAD {
    font-weight: normal;
/*overflow-x: hidden;
    margin: 6px;*/
}
.post-body.entry-content {
float: none;
}
.post-body.entry-content {
line-height: 24px;
float: left;
font-size: 14px;
margin-bottom: 30px;
}
h1, h2, h3, h4, h5, h6 {
font-weight: bold !important;
}


* {margin:0;padding:0;} 
html, body {height: 100%;}

/* Blockquote */
 #LOAD blockquote {
width: 100%;
background: #F6F6F6;
color: #333;
position: relative;
padding: 20px 30px;
border: none;
margin: 0 auto;
margin-bottom: 15px;
font-size: 13px;
margin-right: -2px;
}
 #LOAD blockquote:before {
background: rgba(42, 164, 207, 1);
content: "-";
position: absolute;
left: -31px;
text-align: center;
line-height: 32px;
color: #FFF;
top: 0;
width: 32px;
height: 32px;
font-weight: bold;
}
        #LOAD h3 {
    padding-top: 25px;
}

@media only screen and (max-width : 400px) {
#LOAD h3 {
    font-size: 17px;
}
#LOAD h3 {
    padding-top: 0px;
}
#LOAD h2 {
    font-size: 20px;
}
#LOAD .gist-meta a:link,#LOAD .gist-meta a:visited {

    color: #777 !important;
}
}