<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-unstyled list-spaced">
                        <li class="text-muted">
                            <h6 data-toc-skip class="text-uppercase" id="categories">Get Started</h6>
                        </li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/Installation">Installation</a></li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=p/download">Download</a></li>
                        <li class="text-muted"><a target="_blank" href="https://youtu.be/t1JTuQiD4G0" target="_blank">Demo</a></li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/QuickStart">Quick Start</a></li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/JavaEE_MVC">Java EE 8 Generator</a></li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/Icons">Reference (Icons)</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-unstyled list-spaced">
                        <li class="m-b">
                            <h6 data-toc-skip class="text-uppercase" id="categories">JPA Docs</h6>
                        </li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/AttributeMapping">Attribute Mapping</a></li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/AssociationMapping">Association Mapping</a></li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/Inheritance">Inheritance Mapping</a></li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/DerivedIdentities">Derived Identities</a></li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/NamedEntityGraph">Entity Graph</a></li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/NamedStoredProcedureQuery">Stored Procedure</a></li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/Embeddable">Embeddable</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-unstyled list-spaced">
                        <li class="m-b">
                            <h6 data-toc-skip class="text-uppercase" id="categories">Docs</h6>
                        </li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/JavaEE_MVC">MVC 1.0</a></li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/AngularJS">Angular JS</a></li>
                        <!--<li class="text-muted"><a target="_blank" href="page.html?l=tutorial/Angular">Angular 2.x</a></li>-->
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/QuickStart">DB Modeler</a></li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/Docker">Docker</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-unstyled list-spaced">
                        <li class="m-b">
                            <h6 data-toc-skip class="text-uppercase" id="categories">Community</h6>
                        </li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=p/companies">Companies using</a></li>
                        <!--<li class="text-muted"><a target="_blank" href="https://github.com/search?o=desc&q=entity-mappings+in%3Afile+extension%3Ajpa&ref=searchresults&s=indexed&type=Code&utf8=%E2%9C%93">Real examples @Github</a></li>-->
                        <li class="text-muted"><a target="_blank" href="page.html?l=p/events">Events</a></li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=p/community">What Community says</a></li>
                        <li class="text-muted"><a target="_blank" href="index.html#JAVA_LEAD">Java Leader's opinion</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-unstyled list-spaced">
                        <li class="m-b">
                            <h6 data-toc-skip class="text-uppercase" id="categories">Contribute</h6>
                        </li>
                        <li class="text-muted"><a target="_blank" href="https://github.com/jGauravGupta/JPAModeler/blob/master/CONTRIBUTING.md">How to Contribute</a></li>
                        <li class="text-muted"><a target="_blank" href="page.html?l=tutorial/Contribute">Create your own generator</a></li>
                        <li class="text-muted"><a target="_blank" href="https://github.com/jGauravGupta/jpamodeler/graphs/contributors">Team</a></li>
                        <li class="text-muted"><a target="_blank" href="https://github.com/jGauravGupta/jpamodeler">Source Code</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-unstyled list-spaced">
                        <li class="m-b">
                            <h6 data-toc-skip class="text-uppercase" id="categories">Support</h6>
                        </li>
                        <li class="text-muted"><a target="_blank" href="https://github.com/jGauravGupta/jpamodeler/issues">Report Issue</a></li>
                        <li class="text-muted"><a target="_blank" href="https://groups.google.com/forum/#!forum/jpamodeler">Forum</a></li>
                        <li class="text-muted"><a target="_blank" href="https://gitter.im/jpa_modeler/JPA_Modeler">Chat</a></li>
                        <li class="text-muted"><a target="_blank" href="p/contact.html">Contact US</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <div class="row" >
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="copyright-text text-center">
                <p><a href="/">&copy; 2017 Jeddict</a></p>
            </div>
        </div>
        <div class="col-sm-4 social-icons ">
            <a class="btn" target="_blank" href="https://github.com/jGauravGupta/jpamodeler"><span class="fa fa-github fa-2x"></span></a>
            <a class="btn" target="_blank" href="https://youtube.com/JPAModeler"><span class="fa fa-youtube  fa-2x"></span></a>
            <a class="btn" target="_blank" href="https://speakerdeck.com/jgauravgupta"><span class="fa fa-slideshare fa-2x"></span></a>
            <a class="btn" target="_blank" href="https://twitter.com/intent/tweet?text=%40JPAModeler%20%3C3"><span class="fa fa-heart fa-2x"></span></a>
            <a class="btn" target="_blank" href="https://twitter.com/JPAModeler"><span class="fa fa-twitter fa-2x"></span></a>
        </div>
    </div>
</div>

