<div class="container">
    <div class="row">
        <div class="col-sm-12 overflow">
            <div class="social-icons pull-right">
                <ul class="nav nav-pills">
                    <li><a href="https://twitter.com/ImJeddict" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://youtube.com/JPAModeler" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://github.com/jeddict/jeddict" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://twitter.com/intent/tweet?text=%40ImJeddict%20%3C3" target="_blank"><i class="fa fa-heart"></i></a></li>
                </ul>
                <a href="header.html"></a>
            </div> 
        </div>
    </div>
</div>
<div class="navbar navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <h1><img id="LOGO" src="images/logo/logo-home.png" alt="logo"></h1>
            </a>

        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="index.html">Home</a></li>
                <li class="dropdown"><a href="#">Getting started <i class="fa fa-angle-down"></i></a>
                    <ul role="menu" class="sub-menu">
                        <li><a href="page.html?l=p/download">Download</a></li>
                        <li><a href="page.html?l=p/installation">Installation</a></li>
                        <!--<li><a href="page.html?l=p/ucinstallation">Update Center Installation</a></li>-->
                        <li><a href="page.html?l=tutorial/QuickStart">Quick Start</a></li>
                        <li><a href="page.html?l=tutorial/AI">AI</a></li>
                        <li><a href="page.html?l=tutorial/Icons">Reference (Icons)</a></li>
                        <li><a href="page.html?l=p/technology">Technology stack</a></li>
                    </ul>
                </li> 
                <li><a href="page.html?l=tutorial/AI">AI Assistant</a></li>
                <li class="dropdown"><a href="#">JPA<i class="fa fa-angle-down"></i></a>
                    <ul role="menu" class="sub-menu">
                        <li><a href="page.html?l=tutorial/JPA">JPA Annotation</a></li>
                        <li><a href="page.html?l=tutorial/AttributeMapping">Attribute Mapping</a></li>
                        <li><a href="page.html?l=tutorial/AssociationMapping">Association Mapping</a></li>
                        <li><a href="page.html?l=tutorial/Inheritance">Inheritance Mapping</a></li>
                        <li><a href="page.html?l=tutorial/DerivedIdentities">Derived Identities</a></li>
                        <li><a href="page.html?l=tutorial/NamedEntityGraph">Entity Graph</a></li>
                        <li><a href="page.html?l=tutorial/NamedStoredProcedureQuery">Stored Procedure</a></li>
                        <li><a href="page.html?l=tutorial/Embeddable">Embeddable</a></li>
                        <li><a href="page.html?l=tutorial/AttributeConverter">Attribute Converter</a></li>
                        <li><a href="page.html?l=tutorial/MapKey">MapKey</a></li>
                    </ul>
                </li> 
                <li class="dropdown"><a href="#">Full-Stack App<i class="fa fa-angle-down"></i></a>
                    <ul role="menu" class="sub-menu">
                        <li><a href="page.html?l=tutorial/Monolith">Monolith</a></li>
                        <li><a href="page.html?l=tutorial/MicroService">MicroService</a></li>
                        <li><a href="page.html?l=tutorial/Docker">Docker</a></li>
                        <li><a href="page.html?l=tutorial/JavaEE_MVC">MVC 1.0</a></li>
                    </ul>
                </li> 
                <li class="dropdown"><a href="#">Community <i class="fa fa-angle-down"></i></a>
                    <ul role="menu" class="sub-menu">
                        <li><a href="https://github.com/jeddict/jeddict/issues" target="_blank">Report Issue</a></li>
                        <li><a href="https://github.com/jeddict/jeddict" target="_blank">Source Code</a></li>
                        <li><a href="https://github.com/jeddict/jeddict/graphs/contributors" target="_blank">Team</a></li>
                        <li><a href="page.html?l=p/discover" target="_blank">Discover</a></li>
                        <li><a href="https://github.com/search?o=desc&q=entity-mappings+in%3Afile+extension%3Ajpa&ref=searchresults&s=indexed&type=Code&utf8=%E2%9C%93" target="_blank">Who are using in OSS ?</a></li>
                        <li><a href="page.html?l=tutorial/Contribute" >Create your own generator</a></li>                        
                        <li><a target="_blank" href="page.html?l=p/community">What Community says</a></li>
                        <li><a target="_blank" href="page.html?l=p/companies">Companies using Jeddict</a></li>
<!--                        <li><a target="_blank" href="page.html?l=p/events">Events</a></li>-->
                        <li><a target="_blank" href="page.html?l=p/credits">Credits</a></li>
                    </ul>
                </li>
                <li><a target="_blank" href="https://www.youtube.com/JPAModeler">Demos <i class="fa fa-youtube-play"></i></a></li>
                <li><a target="_blank" href="page.html?l=p/need_help">Need help ?</a></li>
            </ul>
        </div>
<!--        <div class="search">
            <form role="form"  action="page.html" method="GET">
                <i class="fa fa-search"></i>
                <div class="field-toggle">
                    <input type="hidden" value="p/search" name="l" />
                    <input type="text" name="i" class="search-form" autocomplete="off" placeholder="Search">
                </div>
            </form>
        </div>-->
    </div>
</div>
